<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{base}">
<head>
	<meta charset="UTF-8">
	<title>Cadastro</title>
</head>
<body>
<div layout:fragment="conteudo">
	<h1 class="fs-1 my-3">Sistema de cadastro de clientes</h1>
	<div class="alert alert-success" th:if="${msg} != null">
		<p th:text="${msg}"></p>
	</div>
	<div class="alert alert-danger" th:if="${error} != null">
		<p th:text="${error}"></p>
	</div>
	<div class="border border-2 rounded-3">
		<ul class="nav nav-tabs bg-light ps-3 pt-3">
			<li class="nav-item">
				<a class="nav-link bg-dark text-white" th:href="@{/cliente/cadastro-pf}">Cadastro pessoa física</a>
			</li>
			<li class="nav-item mx-2">
				<a class="nav-link bg-dark text-white" th:href="@{/cliente/cadastro-pj}">Cadastro pessoa jurídica</a>
			</li>
		</ul>
		<div class="tab-content p-4 bg-light border border-1 border-white">
			<h2 class="fs-3">Escolha uma opção de cadastro para continuar</h2>
		</div>
	</div>
</div>
</body>
</html>